$font-jua:'Jua', sans-serif;
@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
    header {/* background-color: beige; */ height: 100px;
        width:100%; padding : 0 15px; z-index: 999; position: fixed;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background:linear-gradient(0deg, rgba(255,255,255,0.5), transparent);
        h1 { width: 150px;
            a{
                img {width: 100%;}
            }
        }
    }
    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .app {
            font-family: $font-jua;
            border: 2px solid #fff;
            padding: 15px 25px;
            border-radius: 20px;
            font-weight: 700;
            margin-right: 20px;
            color: #fff;
        }
        .nav {/* background-color: aqua; */
            
            span {
                width: 30px; height: 5px; display: block;
                background-color: white; border-radius: 5px;
            }
            span:nth-of-type(2) {
                margin: 5px 0;
            }
        }
    }
    .h_mid {
        .contents {position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, -50%); z-index: 100;
            h2 {}
            p {}
            a {}
        }
        video {}
    }
    p {
        img {z-index: 101;}
    }